@import '../assets/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 var(--content-padding);
  height: var(--header-height);
}

.logoLink {
  z-index: 3;

  &::after {
    content: none;
  }
}

.logo {
  height: var(--logo-height);
  margin-top: calc(var(--logo-height) / 3);
  margin-left: 4px;

  margin-right: -110px;
  @include responsive(sm) {
    margin-right: 0;
  }

  [class~='wordmark'] {
    color: var(--color-logo);
    fill: currentColor;

    display: none;
    @include responsive(sm) {
      display: inline;
    }
  }

  [class~='logomark'] {
    circle {
      stroke: #286b10;
      [data-mode='dark'] & {
        stroke: #fff;
      }
    }
    path:nth-child(2) {
      fill: #9cc888;
      [data-mode='dark'] & {
        fill: #703ea0;
      }
    }
    path:nth-child(3) {
      fill: #338640;
      [data-mode='dark'] & {
        fill: #ad58ff;
      }
    }
  }
}
