@import '../assets/mixins.scss';

.wrapper {
  display: flex;
  align-items: center;
  --button-size: 48px;
}

.smallMenu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: var(--button-size);
  font-size: 0.8rem;
  @include responsive(xs) {
    font-size: 1rem;
  }
}

.smallMenuEntry {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  &:first-child {
    margin-left: 0;
  }
}

.smallMenuLink {
  font-weight: 600;
  &[data-active] {
    color: var(--color-text);
  }
}

.background {
  width: 100vmax;
  height: 100vmax;
  position: fixed;
  top: calc(-49.5vmax + var(--header-height) / 2);
  right: calc(-50vmax + var(--content-padding) + var(--button-size) / 2);
  background: var(--color-bg-alt);
  border-radius: 50%;
  z-index: 2;
  transform: scale(0.01);
  @keyframes menu-bg {
    0% {
      transform: scale(0.01);
    }
    100% {
      transform: scale(2.83);
    }
  }
  animation: menu-bg 0.7s cubic-bezier(0.28, 0.81, 0.44, 1) 0s forwards;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  --padding: var(--content-padding);
  --header-offset: calc((var(--header-height) - var(--logo-height) / 2));
  padding: var(--padding);
  padding-top: calc(var(--padding) + var(--header-offset));
}

.content {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu {
  flex-basis: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem !important;
}

.menuLink {
  text-decoration: none;
  margin-bottom: 1rem;
  color: var(--color-text);
  &[data-active] {
    [data-mode='light'] & {
      color: #318513;
    }
    [data-mode='dark'] & {
      color: #f4ceff;
    }
  }
  display: block;
  font-size: var(--h1-size);
  font-weight: 600;
  font-family: var(--font-headline);
  li:nth-child(1) & {
    animation-delay: 100ms;
  }
  li:nth-child(2) & {
    animation-delay: 150ms;
  }
  li:nth-child(3) & {
    animation-delay: 200ms;
  }
}

.menuFooter {
  width: 100%;
  color: #74af82;
  [data-mode='dark'] & {
    color: #3e576d;
  }
}

.menuSocial {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.75rem 0.75rem 0 !important;
  animation-delay: 200ms;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(40, 107, 16, 0.3) 50%,
    transparent calc(50% + 1px),
    transparent 100%
  );
  [data-mode='dark'] & {
    background: linear-gradient(
      to bottom,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      transparent calc(50% + 1px),
      transparent 100%
    );
  }
  li {
    background: var(--color-bg-alt);
  }
  a {
    display: flex;
  }
}

.socialIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  margin-left: 1.5rem;
  fill: currentColor;
  li:nth-child(1) & {
    animation-delay: 300ms;
  }
  li:nth-child(2) & {
    animation-delay: 275ms;
  }
  li:nth-child(3) & {
    animation-delay: 250ms;
  }
  li:nth-child(4) & {
    animation-delay: 225ms;
  }
  li:nth-child(5) & {
    animation-delay: 200ms;
  }
}
