@import '../assets/mixins.scss';

.container {
  display: flex;
  align-items: center;
  --button-size: 36px;

  button {
    transform: scale(0.8);

    @include responsive(xs) {
      transform: none;
    }
  }
}

.menu {
  align-items: center;
  white-space: nowrap;
  height: var(--button-size);
  display: none;

  @include responsive(sm) {
    display: flex;
  }
}

.entry {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;

  &:first-child {
    margin-left: 0;
  }
}

.link {
  font-weight: 600;

  &[data-active] {
    color: var(--color-contrast);
  }
}

.mode {
  min-width: var(--button-size);
  display: flex;
  align-items: center;
  margin-left: 1rem;

  @include responsive(xs) {
    margin-left: 1.5rem;
  }
}
