@import '../assets/mixins.scss';

.button {
  &,
  svg {
    width: var(--mode-size);
    height: var(--mode-size);
  }

  path {
    stroke-width: 1.2;
    stroke: currentColor;
    fill: transparent;
  }

  /**
   * scale buttons down on mobile portrait, use negative right margin to
   * compensate for the scaling effect
   */
  transform: scale(0.8);
  &:first-child {
    margin-right: -10px;
  }
  @include responsive(xs) {
    transform: none;
    &:first-child {
      margin-right: 0;
    }
  }
  background: transparent;
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}
